<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestAplikacija.Properties.Settings.connString" connectionString="Data Source=(popuniti);Initial Catalog=webshop_;User ID=(popuniti);Password=(popuniti)"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>